@CHARSET "UTF-8";

/* 윈도우 레이어  :: 캘린더 조직도 */
.win_organ_sch {display:none;}
.win_organ_sch {position:relative; width:700px; height:430px;}


/* 조직도 탭스크립 */
.win_organ_sch div.win_leftBx	{position:absolute; top:30px; left:20px; width:300px; height:320px;}
	#win_organ_sch_tree 	{height:270px; overflow:auto;}
	#win_organ_sch_search  	{height:270px; overflow:auto;}

/* 노드 선택 리스트 */
.win_organ_sch div.win_rightBx	{position:absolute; top:30px; right:20px; width:300px; height:315px; overflow:hidden;}
	.win_organ_sch div.win_rightBx header {position:relative; height:30px; overflow:hidden;}
		.win_organ_sch div.win_rightBx header h4	{position:absolute; text-align:right; top:10px; left:5px;}
		.win_organ_sch div.win_rightBx header span	{}
		.win_organ_sch div.win_rightBx header p		{position:absolute; text-align:right; top:10px; right:45px;}
	
	#win_organ_sch_selectList ul {width:260px; height:280px; border:1px solid #ccc; overflow:auto;}	
		#win_organ_sch_selectList li {position:relative; padding:4px 5px 3px 5px; cursor:pointer;}
		#win_organ_sch_selectList li input {position:absolute; top:4px; right:10px;}
		#win_organ_sch_selectList li input.pwr_read {right:60px;}
		#win_organ_sch_selectList li input.pwr_write{right:35px;}
		#win_organ_sch_selectList li input.pwr_mgmt {right:10px;}
	#win_organ_sch_selectList div 	 {position:absolute; bottom:5px; right:0px; width:33px;}
	#win_organ_sch_selectList button {display:block;}


/* 버튼박스 (설정,취소) */
.win_organ_sch div.win_organ_btnBx {position:absolute; bottom:20px; left:0px; width:100%; text-align:center;}
	div.win_organ_btnBx button {width:60px;}
	div.win_organ_btnBx button:first-child {width:80px;}
