@charset "UTF-8";

/*
===================================================
 파 일 명 : common.css
 작 성 자 : beef2kg@hanmail.net
 작 성 일 : 2013.01.02
===================================================
*/

/*===	Web Font 정의			================ */
@font-face {
	font-family: 'MalgunGothic';
	src: url('./abc-common/webfont/malgun.eot');
	src: url('./abc-common/webfont/malgun.eot?#iefix') format('embedded-opentype'),
	     url('./abc-common/webfont/malgun.woff') format('woff'),
	     url('./abc-common/webfont/malgun.ttf') format('truetype'),
	     url('./abc-common/webfont/malgun.svg#MalgunGothic') format('svg');
	font-weight: normal;
	font-style: normal;
}



/*===	Common Style Sheet		================ */
* {
	margin:0;
	padding:0;
	-webkit-text-size-adjust:none;	/* 모바일 iOS : 텍스트 크기 자동조절 차단 */
}

body {
	color:#333;
}

/* Html5 신규 요소 */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display:block;
}

/* Html 일반 요소 */
html, body, h1, h2, h3, h4, h5, h6, div, span, object, iframe, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	font-size:100%;	border:0; outline:0; font-size:12px;
	font-family:MalgunGothic, 돋움,dotum,굴림,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {html, body, h1, h2, h3, h4, h5, h6, div, span, object, iframe, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	font-size:100%;	border:0; outline:0; font-size:12px;
	font-family:Malgun Gothic, 돋움,dotum,굴림,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;
}}



@-moz-document url-prefix() { html, body, h1, h2, h3, h4, h5, h6, div, span, object, iframe, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	font-size:100%;	border:0; outline:0; font-size:12px;
	font-family:MalgunGothic, 돋움,dotum,굴림,Gulim,Helvetica,AppleGothic,Tahoma,Verdana; }}





tbody{display:table-row-group;
	  vertical-align:middle;
	  border-color:inherit;
}
tr{display:table-row;
	vertical-align:inherit;
	border-color:inherit;
}

ul, ol, li, dl {
	list-style:none;
}
/*체크박스, 라디오버튼*/
label {display:inline-block; padding-left:3px; }
.rdoBtn label {position:relative; padding-left:17px; margin-right:30px;}
.rdoBtn input {position:absolute; left:0; top:3px;}
.rdoBtn button {margin-left:-15px;}

.checkBox label {position:relative; padding-left:17px; margin-right:30px;}
.checkBox input {position:absolute; left:0; top:3px;}
.checkBox.k label {position:relative; padding-left:17px; margin:0;}

/* em:강조,  i:이탤릭,  address:주소(이탤릭+강조)... */
em, i, address, cite, code, dfn, em, strong, var {
	font-weight:normal; font-style:normal; text-align:left;
}

blockquote, q {
	quotes:none;
}

img {border:0; vertical-align:top;}  /* 이미지에 공간을 없애기 위해 vertical-align:top 사용 */
hr	{display:none;}


/*===	링크 요소		------------ */
a	{ color:inherit; }
a, a:link {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}
a:visited { color:inherit; }
a:hover, a:active {
	text-decoration:none;
	color:inherit;
	
}


/*===	표 요소		------------ */
table	{
	display:table;
	padding:0px;
	font-size:inherit;
	line-height:inherit;
	border:0px; border-spacing:0px; border-collapse:collapse;
}

th, td	{padding:0px; font-weight:normal; font-style:normal; text-align:left;}

caption {display:none;}


/*===	폼 요소			------------ */
form	 {display:block;}
fieldset {border:0;}
legend   {display:none;}

label	 {cursor:pointer;}
textarea {resize:none; white-space:pre; overflow-x:hidden; overflow-y:auto;}

input, textarea, select, button {
	font-family:inherit;
	font-size:inherit;
	vertical-align:middle; 
	outline:none;
}
input, textarea {
/* 	background:url(none); */
	-webkit-border-radius:1px;
	-webkit-apprearance:none;
}
input[type="submit"], input[type="button"] {
	cursor:pointer;
}

/*공통 켄도아닌 버튼*/
.nomalbtn {border: 1px solid #bababa; border-radius: 2px; color: #323232; font-size: 12px; /*height: 22px;*/ line-height:; overflow: visible; padding: 4px; width: auto; cursor:pointer;}


/*==========	공용 class		================ */
/*===	텍스트, 폰트 요소 class	------------ */
.txtAlignL	{text-align:left;}
.txtAlignR	{text-align:right;}
.txtAlignC	{text-align:center;}
.txtStrike	{text-decoration:line-through;}
.txtIndent	{text-indent:-9999px;}

.ftStrong	{font-weight:bold;}
.ftBold	,.b {font-weight:bold;}/*20140409 추가*/
.ftNormal	{font-weight:normal;}
.required	{font-weight:bold;}

.tblTItle	{display:block; text-indent:10px; font-weight:bold; background:url(../images/login_bg.png) no-repeat 0 6px;}

	/* 자주 사용하는 글자체 클래스 정의
		.ft_helv {font-family:HelveticaNeue, Dotum, 굴림, Gulim, Apple-Gothic;}
		.ft_verd {font-family:verdana, 돋움, HelveticaNeue, Dotum, 굴림, Gulim, Apple-Gothic;}
	*/

/*===	배치 요소 class			------------ */
.floatL	 	{float:left;}
.floatR	 	{float:right;}
.floatN	 	{float:none;}
.cb		 	{clear:both; height:0px; font-size:1px; line-height:100%; overflow:hidden;}

.dispBlock	{display:block;}
.dispNone 	{display:none;}
.disInline	{display:inline-block}

.marginC{margin:auto;}
.mC{margin:0 auto;}/*20140409 추가*/
.marginC-top10 {margin-top:10px;}
.marginC-right10 {margin-right:10px;}
.marginC-right10_span > span {margin-right:10px;}
.marginC-bottom10 {margin-bottom:10px;}
.marginC-left10 {margin-left:10px;}

/*20140409 추가 시작*/
.verti_Top ,.vT{vertical-align: top;}
.verti_M ,.vM{vertical-align:middle;}

.b {font-weight:bold;}
.u {text-decoration:underline;}

.clear{*zoom:1;}
.clear:after{content:"";display:block;clear:both;}

img { vertical-align: top;}
img.vM { vertical-align:middle;}
img.vM2 { vertical-align:middle;margin-bottom:3px;}
img.vT  {vertical-align:top;}
img.block { display:block;}

.disN{display:none !important}
.bgN{background:none !important}
.test{border:1px solid red}

.hr{ height:1px; background:#e7e7e7; font-size:1px; line-height:1px;}

.space { font-size:1px;line-height:1px;} 
.space0 { font-size:0;line-height:0;} 
.space5 { width:5px;height:5px;font-size:1px;line-height:1px;} 
.space10 { width:10px;height:10px;font-size:1px;line-height:1px;} 
.space15 { width:15px;height:15px;font-size:1px;line-height:1px;} 
.space20 { width:15px;height:15px;font-size:1px;line-height:1px;}

.alignL {text-align:left !important;}
.alignR {text-align:right !important;}
.alignC {text-align:center !important;}

.h16{height:16px;line-height:16px}
.h14{height:14px;line-height:14px}
.h22{height:22px;line-height:22px}
.h24{height:24px;line-height:24px}
.h26{height:26px;line-height:26px}
.h28{height:28px;line-height:28px}
.h30{height:30px;line-height:30px}

.w100p{width:100% !important}
.w99p{width:99% !important}
.w98p{width:98% !important}
.w90p{width:90% !important}
.w80p{width:80% !important}
.w70p{width:70% !important}
.w60p{width:60% !important}
.w50p{width:50% !important}
.w40p{width:40% !important}
.w30p{width:30% !important}
.w20p{width:20% !important}
.w10p{width:10% !important}

.w100{width:100px !important}
.w90{width:90px !important}
.w80{width:80px !important}
.w70{width:70px !important}
.w60{width:60px !important}
.w50{width:50px !important}
.w40{width:40px !important}
.w30{width:30px !important}
.w20{width:20px !important}
.w10{width:10px !important}

.m1 { margin:1px;}
.m2 { margin:2px;}
.m3 { margin:3px;}
.m4 { margin:4px;}
.m5 { margin:5px;}
.m6 { margin:6px;}
.m7 { margin:7px;}
.m8 { margin:8px;}
.m9 { margin:9px;}
.m10 { margin:10px;}
.m15 { margin:15px;}
.m20 { margin:20px;}
.m25 { margin:25px;}
.m30 { margin:30px;}
.m40 { margin:40px;}
.m50 { margin:50px;}

.mT0{margin-top:0}
.mT5{margin-top:5px}
.mT15 {margin-top:15px}
.mT20 {margin-top:20px}
.mT10 {margin-top:10px}
.mT30 {margin-top:30px}
.mT40 {margin-top:40px}
.mT50 {margin-top:50px}

.mR0{margin-right:0}
.mR5{margin-right:5px}
.mR15{margin-right:15px}
.mR20{margin-right:20px}
.mR10{margin-right:10px}
.mR30{margin-right:30px}
.mR40{margin-right:40px}
.mR50{margin-right:50px}

.mB0{margin-bottom:0}
.mB5{margin-bottom:5px}
.mB15{margin-bottom:15px}
.mB20{margin-bottom:20px}
.mB10{margin-bottom:10px}
.mB30{margin-bottomp:30px}
.mB40{margin-bottom:40px}
.mB50{margin-bottom:50px}

.mL0{margin-left:0}
.mL5{margin-left:5px}
.mL15{margin-left:15px}
.mL20{margin-left:20px}
.mL10{margin-left:10px}
.mL30{margin-left:30px}
.mL40{margin-left:40px}
.mL50{margin-left:50px}

.p1 { padding:1px;}
.p2 { padding:2px;}
.p3 { padding:3px;}
.p4 { padding:4px;}
.p5 { padding:5px;}
.p6 { padding:6px;}
.p7 { padding:7px;}
.p8 { padding:8px;}
.p9 { padding:9px;}
.p10 { padding:10px;}
.p15 { padding:15px;}
.p20 { padding:20px;}
.p25 { padding:25px;}
.p30 { padding:30px;}
.p40 { padding:40px;}
.p50 { padding:50px;}

.pT0{padding-top:0}
.pT5{padding-top:5px}
.pT15 {padding-top:15px}
.pT20 {padding-top:20px}
.pT10 {padding-top:10px}
.pT30 {padding-top:30px}
.pT40 {padding-top:40px}
.pT50 {padding-top:50px}

.pR0{padding-right:0}
.pR5{padding-right:5px}
.pR15{padding-right:15px}
.pR20{padding-right:20px}
.pR10{padding-right:10px}
.pR30{padding-right:30px}
.pR40{padding-right:40px}
.pR50{padding-right:50px}

.pB0{padding-bottom:0}
.pB5{padding-bottom:5px}
.pB15{padding-bottom:15px}
.pB20{padding-bottom:20px}
.pB10{padding-bottom:10px}
.pB30{padding-bottomp:30px}
.pB40{padding-bottom:40px}
.pB50{padding-bottom:50px}

.pL0{padding-left:0}
.pL5{padding-left:5px}
.pL15{padding-left:15px}
.pL20{padding-left:20px}
.pL10{padding-left:10px}
.pL30{padding-left:30px}
.pL40{padding-left:40px}
.pL50{padding-left:50px}

/*===	표 기본 스타일			------------ */
.tbl	{width: 100%; border: 1px solid #BAC0C6;}
		.tbl th	{padding:20px; text-align:center; font-weight:bold; color:#333; border-right:1px solid #d8d9e0;
						background: #e6e7ed; /* Old browsers */ 
						background: -moz-linear-gradient(bottom,  rgba(230,231,237,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(230,231,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(bottom,  rgba(230,231,237,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(bottom,  rgba(230,231,237,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(bottom,  rgba(230,231,237,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
						background: linear-gradient(bottom,  rgba(230,231,237,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e7ed',GradientType=0 ); /* IE6-9 */
						}
		.tbl td {padding:10px; text-align:left; color:#666}
		.tbl th, .tbl td {border-top:1px dotted #BAC0C6; border-right:1px solid #BAC0C6;}
		.tbl tr:nth-child(2n) { background-color:#fcfcfc; }
		.tbl tr:nth-child(2n-1) { background-color:#fff; }



/*켄도 버튼 폰트변경으로 위치조정 20140411 변경
.k-textbox > input, 
.k-autocomplete .k-input, 
.k-picker-wrap .k-input, 
.k-numeric-wrap 
.k-input, 
.k-dropdown-wrap 
.k-input, 
.k-selectbox .k-input { padding:0px 0 0px 0;}*/
.k-textbox > input{padding:0px 0 0px 0}

.k-button {padding:1px 7px 2px 7px}
/*tab 상단라인1px 삭제*/
.k-loading{border-top:none !important;}
/*tab 좌측라인1px 삭제 */
.k-tabstrip .k-tabstrip-items{padding:.3em 3px 0}

/*켄도 달력 텍스트 중간정렬*/
.k-calendar td {text-align:center;}
.k-calendar th {text-align:center;}

/*켄도 필드 입력에러메세지*/
html .k-error-colored  {border-color:#9f9f9f; background:#ffffbe url(../images/sub_alertMessege_img.png) no-repeat 5px 4px; padding-left:23px; padding-right:5px;}
	/*laypop 켄도수정*/
	.k-window-title {background:url(../images/sub_menu_btn.png) no-repeat -244px -45px; padding-left:15px;}
	
	
	
/*텍스트 설정*/
.F_11_blue{color:#235a70; font-size:11px;}
.F_11_black{color:#000; font-size:11px; font-weight:100;}
.F_11_black_b{color:#000; font-size:11px; font-weight:bold;}
.F_12_black{color:#000; font-size:12px;}
.F_12_black_n {color:#000; font-weight:100; font-size:12px;}
.F_12_black_b{color:#000; font-size:12px; font-weight:bold;}
.F_16_black_b {color:#000; font-size:16px; font-weight:bold;}
.F_12_gray{color:#999; font-size:12px; font-weight:100;}
.F_12_gray_b{color:#999; font-size:12px; font-weight:bold;}
.F_11_gray{color:#999; font-size:11px; font-weight:100; letter-spacing:-1px;}
.F_11_gray_L{color:#b3b3b3; font-size:11px; font-weight:100; margin:0 5px;}/*구분선 ㅁ|ㅁ*/
.F_11_gray_b{color:#999; font-size:11px; font-weight:bold;}
.f_12_red_b{color:#f00; font-size:12px; font-weight:bold;}
.f_12_red{color:#f00; font-size:12px; font-weight:100;}
.f_11_red{color:#f00; font-size:11px; font-weight:100;}
.F_16_red_b {color:#f00; font-size:16px; font-weight:bold;}

/* kendo 달력 일요일 - custom */
.kendoCalendarSunday{color: #FF0000 !important;}
/* kendo 달력 토요일 - custom */
.kendoCalendarSaturday{color: #0100FF !important;}
/* kendo 달력 공휴일 - custom */
.kendoCalendarHoliday{color: #FF0000 !important;}
/* kendo 달력 다른달 - kendo 기본제공 */
.k-other-month > a > div{color: #9f9e9e !important;}
/* kendo 달력 주말 - kendo 기본제공 */
/* .k-weekend a{color: #FF0000 !important;} */


.k-selectable td > div.ellipsis{ overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap; }
.k-selectable {table-layout:fixed;width:100%; }